#imCell_1 { display: block; position: relative; overflow: hidden; width: 268px; min-height: 201px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_1 { position: relative; width: 262px; min-height: 175px; padding: 3px 3px 23px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_1 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCell_3 { display: block; position: relative; overflow: hidden; width: 268px; min-height: 86px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_3 { position: relative; width: 262px; min-height: 80px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_3 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_3_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_3_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_3_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_3_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_3_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_3_tab0 p { margin: 0; padding: 0; }
#imTextObject_3_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_3_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_3_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_3_tab0 .imUl { text-decoration: underline; }
#imTextObject_3_tab0 .ff0 { font-family: "Arial"; }
#imTextObject_3_tab0 .ff1 { font-family: "Arial"; }
#imTextObject_3_tab0 .ff2 { font-family: "Tahoma"; }
#imTextObject_3_tab0 .cf1 { color: #000000; }
#imTextObject_3_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_3_tab0 .cf3 { color: #000000; }
#imTextObject_3_tab0 .cf4 { color: #0030BF; }
#imTextObject_3_tab0 .cf5 { color: #0040FF; }
#imTextObject_3_tab0 .cf6 { color: #FF0000; }
#imTextObject_3_tab0 .cf7 { color: #00BF30; }
#imTextObject_3_tab0 .cf8 { color: #000000; }
#imTextObject_3_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_3_tab0 .cb1 { background-color: #000000; }
#imTextObject_3_tab0 .cb2 { background-color: transparent; }
#imTextObject_3_tab0 .cb3 { background-color: #000000; }
#imTextObject_3_tab0 .cb4 { background-color: #0030BF; }
#imTextObject_3_tab0 .cb5 { background-color: #0040FF; }
#imTextObject_3_tab0 .cb6 { background-color: #FF0000; }
#imTextObject_3_tab0 .cb7 { background-color: #00BF30; }
#imTextObject_3_tab0 .cb8 { background-color: #000000; }
#imCell_22 { display: block; position: relative; overflow: hidden; width: 268px; min-height: 201px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_22 { position: relative; width: 262px; min-height: 195px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_22 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCell_23 { display: block; position: relative; overflow: hidden; width: 268px; min-height: 86px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_23 { position: relative; width: 262px; min-height: 80px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_23 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_23_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_23_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_23_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_23_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_23_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_23_tab0 p { margin: 0; padding: 0; }
#imTextObject_23_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_23_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_23_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_23_tab0 .imUl { text-decoration: underline; }
#imTextObject_23_tab0 .ff0 { font-family: "Arial"; }
#imTextObject_23_tab0 .ff1 { font-family: "Arial"; }
#imTextObject_23_tab0 .ff2 { font-family: "Tahoma"; }
#imTextObject_23_tab0 .cf1 { color: #000000; }
#imTextObject_23_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_23_tab0 .cf3 { color: #000000; }
#imTextObject_23_tab0 .cf4 { color: #0040FF; }
#imTextObject_23_tab0 .cf5 { color: #FF0000; }
#imTextObject_23_tab0 .cf6 { color: #00BF30; }
#imTextObject_23_tab0 .cf7 { color: #000000; }
#imTextObject_23_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_23_tab0 .cb1 { background-color: #000000; }
#imTextObject_23_tab0 .cb2 { background-color: transparent; }
#imTextObject_23_tab0 .cb3 { background-color: #000000; }
#imTextObject_23_tab0 .cb4 { background-color: #0040FF; }
#imTextObject_23_tab0 .cb5 { background-color: #FF0000; }
#imTextObject_23_tab0 .cb6 { background-color: #00BF30; }
#imTextObject_23_tab0 .cb7 { background-color: #000000; }
