#imCell_1 { display: block; position: relative; overflow: hidden; width: 406px; min-height: 364px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_1 { position: relative; width: 400px; min-height: 284px; padding: 3px 3px 77px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_1 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCell_2 { display: block; position: relative; overflow: hidden; width: 406px; min-height: 403px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_2 { position: relative; width: 400px; min-height: 397px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_2 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCell_3 { display: block; position: relative; overflow: hidden; width: 406px; min-height: 364px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_3 { position: relative; width: 400px; min-height: 358px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_3 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCell_4 { display: block; position: relative; overflow: hidden; width: 200px; min-height: 282px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_4 { position: relative; width: 194px; min-height: 276px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_4 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCell_5 { display: block; position: relative; overflow: hidden; width: 406px; min-height: 403px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_5 { position: relative; width: 400px; min-height: 301px; padding: 3px 3px 99px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_5 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imCell_6 { display: block; position: relative; overflow: hidden; width: 406px; min-height: 67px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_6 { position: relative; width: 400px; min-height: 61px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_6 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_6_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_6_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_6_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_6_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_6_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_6_tab0 p { margin: 0; padding: 0; }
#imTextObject_6_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_6_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_6_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_6_tab0 .imUl { text-decoration: underline; }
#imTextObject_6_tab0 .ff0 { font-family: "Arial"; }
#imTextObject_6_tab0 .ff1 { font-family: "Arial"; }
#imTextObject_6_tab0 .ff2 { font-family: "Tahoma"; }
#imTextObject_6_tab0 .cf1 { color: #000000; }
#imTextObject_6_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_6_tab0 .cf3 { color: #000000; }
#imTextObject_6_tab0 .cf4 { color: #0040FF; }
#imTextObject_6_tab0 .cf5 { color: #00BF30; }
#imTextObject_6_tab0 .cf6 { color: #FF0000; }
#imTextObject_6_tab0 .cf7 { color: #000000; }
#imTextObject_6_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_6_tab0 .cb1 { background-color: #000000; }
#imTextObject_6_tab0 .cb2 { background-color: transparent; }
#imTextObject_6_tab0 .cb3 { background-color: #000000; }
#imTextObject_6_tab0 .cb4 { background-color: #0040FF; }
#imTextObject_6_tab0 .cb5 { background-color: #00BF30; }
#imTextObject_6_tab0 .cb6 { background-color: #FF0000; }
#imTextObject_6_tab0 .cb7 { background-color: #000000; }
#imCell_7 { display: block; position: relative; overflow: hidden; width: 406px; min-height: 67px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_7 { position: relative; width: 400px; min-height: 61px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_7 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_7_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_7_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_7_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_7_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_7_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_7_tab0 p { margin: 0; padding: 0; }
#imTextObject_7_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_7_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_7_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_7_tab0 .imUl { text-decoration: underline; }
#imTextObject_7_tab0 .ff0 { font-family: "Arial"; }
#imTextObject_7_tab0 .ff1 { font-family: "Arial"; }
#imTextObject_7_tab0 .ff2 { font-family: "Tahoma"; }
#imTextObject_7_tab0 .cf1 { color: #000000; }
#imTextObject_7_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_7_tab0 .cf3 { color: #0040FF; }
#imTextObject_7_tab0 .cf4 { color: #00BF30; }
#imTextObject_7_tab0 .cf5 { color: #FF0000; }
#imTextObject_7_tab0 .cf6 { color: #000000; }
#imTextObject_7_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_7_tab0 .cb1 { background-color: #000000; }
#imTextObject_7_tab0 .cb2 { background-color: transparent; }
#imTextObject_7_tab0 .cb3 { background-color: #0040FF; }
#imTextObject_7_tab0 .cb4 { background-color: #00BF30; }
#imTextObject_7_tab0 .cb5 { background-color: #FF0000; }
#imTextObject_7_tab0 .cb6 { background-color: #000000; }
#imCell_8 { display: block; position: relative; overflow: hidden; width: 406px; min-height: 67px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_8 { position: relative; width: 400px; min-height: 61px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_8 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_8_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_8_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_8_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_8_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_8_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_8_tab0 p { margin: 0; padding: 0; }
#imTextObject_8_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_8_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_8_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_8_tab0 .imUl { text-decoration: underline; }
#imTextObject_8_tab0 .ff0 { font-family: "Arial"; }
#imTextObject_8_tab0 .ff1 { font-family: "Arial"; }
#imTextObject_8_tab0 .ff2 { font-family: "Tahoma"; }
#imTextObject_8_tab0 .cf1 { color: #000000; }
#imTextObject_8_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_8_tab0 .cf3 { color: #0040FF; }
#imTextObject_8_tab0 .cf4 { color: #00BF30; }
#imTextObject_8_tab0 .cf5 { color: #FF0000; }
#imTextObject_8_tab0 .cf6 { color: #000000; }
#imTextObject_8_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_8_tab0 .cb1 { background-color: #000000; }
#imTextObject_8_tab0 .cb2 { background-color: transparent; }
#imTextObject_8_tab0 .cb3 { background-color: #0040FF; }
#imTextObject_8_tab0 .cb4 { background-color: #00BF30; }
#imTextObject_8_tab0 .cb5 { background-color: #FF0000; }
#imTextObject_8_tab0 .cb6 { background-color: #000000; }
#imCell_9 { display: block; position: relative; overflow: hidden; width: 406px; min-height: 67px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_9 { position: relative; width: 400px; min-height: 61px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_9 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_9_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_9_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_9_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_9_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_9_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_9_tab0 p { margin: 0; padding: 0; }
#imTextObject_9_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_9_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_9_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_9_tab0 .imUl { text-decoration: underline; }
#imTextObject_9_tab0 .ff0 { font-family: "Arial"; }
#imTextObject_9_tab0 .ff1 { font-family: "Arial"; }
#imTextObject_9_tab0 .ff2 { font-family: "Tahoma"; }
#imTextObject_9_tab0 .cf1 { color: #000000; }
#imTextObject_9_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_9_tab0 .cf3 { color: #0040FF; }
#imTextObject_9_tab0 .cf4 { color: #00BF30; }
#imTextObject_9_tab0 .cf5 { color: #FF0000; }
#imTextObject_9_tab0 .cf6 { color: #000000; }
#imTextObject_9_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_9_tab0 .cb1 { background-color: #000000; }
#imTextObject_9_tab0 .cb2 { background-color: transparent; }
#imTextObject_9_tab0 .cb3 { background-color: #0040FF; }
#imTextObject_9_tab0 .cb4 { background-color: #00BF30; }
#imTextObject_9_tab0 .cb5 { background-color: #FF0000; }
#imTextObject_9_tab0 .cb6 { background-color: #000000; }
#imCell_10 { display: block; position: relative; overflow: hidden; width: 406px; min-height: 67px; padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px;}
#imCellStyle_10 { position: relative; width: 400px; min-height: 61px; padding: 3px 3px 3px 3px; text-align: center; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; z-index: 2;}
#imCellStyleGraphics_10 { position: absolute; top: 3px; bottom: 3px; left: 3px; right: 3px; background-color: transparent; }
#imTextObject_10_tab0 { position: relative; line-height: 1px; font-size: 1pt; font-style: normal; color: black; font-weight: normal; }
#imTextObject_10_tab0 ul { list-style: disc; margin: 0px; padding: 0px; }
#imTextObject_10_tab0 ul li { margin: 0px 0px 0px 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_10_tab0 table { margin: 0 auto; padding: 0; border-collapse: collapse; border-spacing:0; line-height: inherit; }
#imTextObject_10_tab0 table td { padding: 4px 3px 4px 3px; margin: 0px; line-height: 1px; font-size: 1pt; }
#imTextObject_10_tab0 p { margin: 0; padding: 0; }
#imTextObject_10_tab0 img { border: none; margin: 0px 0px; vertical-align: text-bottom;}
#imTextObject_10_tab0 img.fleft { float: left; margin-right: 15px; vertical-align: baseline;}
#imTextObject_10_tab0 img.fright { float: right; margin-left: 15px; vertical-align: baseline;}
#imTextObject_10_tab0 .imUl { text-decoration: underline; }
#imTextObject_10_tab0 .ff0 { font-family: "Arial"; }
#imTextObject_10_tab0 .ff1 { font-family: "Arial"; }
#imTextObject_10_tab0 .ff2 { font-family: "Tahoma"; }
#imTextObject_10_tab0 .cf1 { color: #000000; }
#imTextObject_10_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_10_tab0 .cf3 { color: #0040FF; }
#imTextObject_10_tab0 .cf4 { color: #00BF30; }
#imTextObject_10_tab0 .cf5 { color: #FF0000; }
#imTextObject_10_tab0 .cf6 { color: #000000; }
#imTextObject_10_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_10_tab0 .cb1 { background-color: #000000; }
#imTextObject_10_tab0 .cb2 { background-color: transparent; }
#imTextObject_10_tab0 .cb3 { background-color: #0040FF; }
#imTextObject_10_tab0 .cb4 { background-color: #00BF30; }
#imTextObject_10_tab0 .cb5 { background-color: #FF0000; }
#imTextObject_10_tab0 .cb6 { background-color: #000000; }
